## token_delphi_ft_this_project.R.example
## olivier.duperrex@unisante.ch
## 2023-05-08

## This is an example file for the tokens to your project

## Please do following:

## 1. Save this file with the name : 'token_delphi_ft_this_project.R'

## 2. Update the lines below with your details from the ‘API’ Menu in REDCap 

redcap_uri <- "<https://XXXXXXXXX/api/>" 
token_dft2 <- "YYYYYYYYYYYYYYYY"
token_dft3 <- "ZZZZZZZZZZZZZZZZ"

## 3. Save it again


## Note
. 'token_delphi_ft_this_project.R' has been added to .gitgnore to avoid transmitting the data to a git depot
. if you use other means to share your work, alway delete the files containing your details to login into your redcap server